/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Main style */

h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 30px;
    margin: 15px;
    padding: 10px;
    color: #00171F;
    text-align: center;
}

body {
    /*background-image: url("../../templates/img/green.jpg");*/
    background-image: url("../../templates/img/green.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#account-background {
    /*background-image: url("../../templates/img/2.jpeg");*/
    background-image: url("../../public/img/2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Formular */

.single-form {
    text-align: center;
}

label {
    font-family: 'Helvetica', sans-serif;
    font-size: 13px;
    padding: 5px;
    text-align: left;
}

button {
    font-family: 'Helvetica', sans-serif;
    background-color: lightgreen;
    font-size: 15px;
    margin: 20px 30px;
    border-radius: 5px;
    clear: both;
    text-align: center;
}

.single-button {
    text-align: center;
    margin: 0 auto;
}

.double-col {
    text-align: center;
}

input {
    border-radius: 5px;
}

/*Account page*/

#logo {
    height: 70px;
    position: absolute;
    margin: 10px;
}

#log-out-button {
    float: right;
    margin-top: 10px;
    margin-right: 5px;
}

.nav {
    margin-left: 100px;
}

.nav-link {
    color: darkgreen;
}

h2 {
    font-size: 25px;
    margin-top: 20px;
    padding: 5px;
}

.account-table {
    border: solid 1px white;
    display: inline-flex;
    width: 300px;
    margin: 5px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.account-table div{
    padding: 10px 15px;
}

.account-table p {
    padding: 5px;
}




