<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">-->
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body id="account-background">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <img id="logo" src="img/logo.jpeg" alt="bank-logo">
            <div>
                <nav class="nav nav-tabs">
                    <a class="nav-link" href="#">Desktop</a>
                    <a class="nav-link" href="#">Products</a>
                    <a class="nav-link" href="#">Transfers</a>
                    <a class="nav-link" href="#">History</a>
                </nav>
            </div>
        </div>
        <div class="col-md-2">
            <button id="log-out-button" type="button">Log out</button>
            <p>End of session in:</p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-5">
            <h2>Name and Lastname</h2>
            <div class="account-table">
                <div>
                    <p>Personal Account</p>
                    <p>00 0000 0000</p>
                </div>
                <div>
                    <p>Saldo</p>
                    <p>0,00 PLN</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="account-table">
                <div>
                    <p>Currency Account</p>
                    <p>00 0000 0000</p>
                </div>
                <div>
                    <p>Saldo</p>
                    <p>0,00 EUR</p>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>