<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="form">
    <h1 th:text="#{label.form.title}">Log in to Your account</h1>
    <form th:action="/login" th:object="${login}" method="post" enctype="utf8">
        <div>
            <label th:text="#{label.login.email}">E-mail: </label><br>
            <input type="email" th:field="*{email}"/>
            <!--<p th:each="error : ${#fields.errors('email')}"-->
            <!--th:text="${error}">Validation error</p>-->
        </div>
        <div>
            <label th:text="#{label.login.password}">Password: </label><br>
            <input type="password" th:field="*{password}"/>
            <!--<p th:each="error : ${#fields.errors('password')}"-->
            <!--th:text="${error}">Validation error</p>-->
        </div>

        <button type="submit" th:text="#{label.form.submit}">Log in</button>
    </form>
</div>

</body>
</html>